html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 20px black;
    position: fixed;
    top: 0;
}

.navInicial ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px; 
}
.navInicial li{
    text-transform: uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.navInicial li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.navInicial li a:hover {
    text-decoration: none;
    color: white;
    display: block;
    background-color: rgb(112, 112, 112);
    border-radius: 5px;
}
.marca{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin: 20px 30px;
    padding: 10px;
}

header a{
    text-decoration:none;
}

.marca:hover{
    background-color: rgb(112, 112, 112);
    border-radius: 5px;    
}

@media screen and (max-width:768px) {

    header {
        justify-content: center;
       
    }
}

@media screen and (max-width:600px) {
    
    .navInicial ul {
        justify-content: center;
       
    }
}
.imagemFundo {
    background-image: url(../imagens/imagemPaginaInicial/imagemInicial.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 30px black;
}

.destaque {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0px;
    font-size: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    color: white;
}
.destaque p {
    text-align: center;
}

@media screen and (max-width:900px) {
    .destaque {
        font-size: 120px;        
    }
}
@media screen and (max-width:768px) {
    .destaque {
        font-size: 90px;        
    }
}
@media screen and (max-width:500px) {
    .destaque {
        padding: 200px  0;
        font-size: 60px;        
    }
}

.botaoinicial{
    width: 150px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding: 1% 0;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana;
    background-color: rgba(255, 255, 255, 0.432);
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 40px black;
}
.botaoinicial a{
    text-decoration: none;
    color: black;
}

.botaoinicial:hover{
    border: 6px solid black;
    background-color: rgba(255, 255, 255, 0.842);
    border: 3px solid brown;
    border-radius: 10px;
    box-shadow: 0 5px 40px brown;

}

@media screen and (max-width:500px) {
    .botaoinicial {
        width: 250px;
        font-size: 25px;        
    }
}
.aumentoDeFundo{
    padding: 220px 0px;
}
/*produtos*/

#produtosLink{
    color:rgba(255, 255, 255, 0);
 }

.produtos ul{  
    width: 100%;
    margin: 200px auto;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.produtos li img{
    width: 100%;
    border-radius: 5px; 
}
.produtos li{
    padding: 80px 20px;
    flex-grow: 1 1 300px;
    margin-left: 0;
}
.produtos li h2{
    text-align: center;
    padding-bottom: 80px;
    width: 250px;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}  

.produtos li .descricao-unica {
    width: 250px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

@media screen and (max-width:500px) {
    .produtos li .descricao-unica {
       text-align: center;        
    }
}

.produtos li .descricao-produtos{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 250px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
/*Depoimentos*/

 #depoimentos1{
    color:rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
 }


.depoimentos {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 40px rgb(0, 0, 0); 
}
.titulo-depoimentos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    text-align: center;
    text-transform: uppercase; 
    font-size: 40px;
    padding-top: 150px;
    font-weight: bold;
    font-family: 'Segoe UI';
    color: rgb(255, 255, 255);
}

.depoimentos ul{
    display: flex;/*Faz os Elementos filhos se tornarem flex e ficarem um do lado do outro*/
    padding: 170px 0px;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;/*Usando esse Comando pude fazer com que o espaço "Branco indesejado" Sumusse no caso de um tamanho horizontal em 380px*/
}
.infeite{
    color: white;
    font-size: 60px;
}

.depoimentos li {
    display: inline-block;
    width: 20%; /* largura de 30%*/
    margin: 0% 1%; /* Coloca uma margem (vertical horizontal)*/
    padding: 40px 20px;
    min-width: 250px; /*Com esse comando pude fazer com que a largura do texto não diminuisse continuamente*/
}

.depoimentos li:hover {/*Faz algum comportamento quando a mouse esta em cima do item*/
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.493);
    border-radius: 20px;
    
}
.depoimentos h3{
    margin-top: 20px;
    font-weight: bold; /*Largura da fonte em negrito */
    font-size: 30px; /*tamanho da fonte */
    color: white;
}
@media screen and (max-width:930px) {
    .depoimentos h3{
            text-align: center;
            font-size: 40px;
        }   
    }

.descricao-depoimentos {
    margin-top: 150px;
    font-family: Arial;
    color: white;
    padding: 0 90px 0 0; /*Espacamento interno (vertical e horizontal) */
}
@media screen and (max-width:930px) {
    .descricao-depoimentos{
            text-align: center;
            font-size: 25px;
            padding: 0;
        }   
    }

/*Pagina de Contao*/


.containerContato{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;      
    flex-wrap: wrap;
    overflow: hidden;
}
@media screen and (max-width:1270px) {
    .img1{
        width:650px;
        height: 700px;      
    }
}

@media screen and (max-width:1100px) {
    .img1{
        width:550px;
        height: 600px;      
    }
}
@media screen and (max-width:1000px) {
    .img1{
        width:460px;
        height: 600px;      
    }
}@media screen and (max-width:768px) {
    .img1{
        width:768px;
        height: 768px;      
    }
}


/*@media screen and (max-width:1058px) {
    .img1{
        width:500px;
        height: 500px;      
    }
}
@media screen and (max-width:850px) {
    .img1{
        width:100%;
        height: 400px;      
    }
}
@media screen and (max-width:768px) {
    .img1{
        width:380px;
        height: 380px;      
    }
}
@media screen and (max-width:435px) {
    .img1{
        width:100%;
        height: 400px;      
    }
}*/
.tituloFinal{
    font-size: 30px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    text-align: center;
    padding-right: 200px;
    padding-bottom: 50px;
   
}

@media screen and (max-width:1450px) {
     .tituloFinal{
        width: 310px;
        margin: 0 auto;
    }
}
.subtituloFinal{
    width: 400px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.imgfinal{
    width: 50px;
    height: 50px;
    
}
.contatos{
    padding-top: 100px;
    padding-right: 200px;
}
.contatos a{
    text-decoration: none;
    justify-content: center;
    display: flex;
    font-size: 40px;
    padding: 30px 0;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width:1450px) {
    .contatos, .tituloFinal{

        padding-right: 180px;
    }
}
@media screen and (max-width:1282px) {
    .contatos, .tituloFinal{

        padding-right: 100px;
    }
}
@media screen and (max-width:1207px) {
    .contatos, .tituloFinal{

        padding-right: 50px;
    }
}
@media screen and (max-width:768px) {
    .contatos, .tituloFinal, .containerContato {

        padding-right: 0px;
        justify-content: center;
    }
}
